 <div class="all">   
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet"> 
    <div>
        <p>These are the repositories found in the users account!!</p>
        <button class="btn btn-primary" (click)="showRepos()">show repos</button>
        
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel-body" *ngFor="let repo of repos">
                <p class="clearfix">
                    {{repo.name}} <a href="{{repo.html_url}}" target="_blank" class="btn btn-sm btn-warning pull-right">View this project on github</a><br>
                </p>
                <p>{{repo.description|timePassed}}</p>
                <p appHighlight >This repo was made {{repo.created_at|timePassed}}</p>
            </div>
            <button class="btn btn-primary"><a routerLink="/" routerLinkActive='active'>Back to search</a></button>
            <p>Back to search</p>
        </div>
    </div>
</div>