<div class="body">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet"> 
    <div class="container">

        <h2>GitHub Search</h2>
        <p>GitHub, Inc. is a US-based global company that provides hosting for software development version control using Git. </p>
        <div class="row">
            <div class="col-sm-4">
                  <form #searchForm='ngForm' >
                <div class="form-group">
                    <label for="search">Search</label>
                    <input type="search" class="form-control" [(ngModel)]="inputUser.userInput" name="userInput">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
            </div>
            <div class="col-sm-4">
                <p>Yes</p>
            </div>
            <div class="col-sm-4" id="cover">
                <p>Maybe</p>

            </div>
        </div>
    </div>

</div>



  <!-- <div *ngIf="profile">
            {{profile.name}} <small>({{profile.login}})</small>
            <img src="{{profile.avatar_url}}" class="img-circle img-responsive" alt="Profile Image">
        </div>  --> 
        
        
      