<div class="body">
    <div class="container">
    <h2>GITHUB SEARCH</h2><br><br>
    <div class="par">
        This website application is meant to make searching for users and there repositories <br> easy and fast to find.
    </div>
    
    <div class="row">
        <div class="form">
        <div class="col-md-6">
            <form #searchForm='ngForm' >
                <div class="form-group">
                    <label for="search">Search</label>
                    <input type="search" class="form-control" [(ngModel)]="inputUser.userInput" name="userInput">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>    

        
        </div>
    </div>
    </div>
</div>
