#cover {
    background-image: url(src/assets/cover.jpg);
    height: 100px;
}
.body {
    background-image: url(src/assets/allknowing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}